<%- include('fragments/head'); %>
<%- include('fragments/admin-session'); %>
<%- include('fragments/admin-bar'); %>

<hr>

<h1 class="site-title"><%= header %></h1>

<div class="admin-panel-header">
    Administration & Moderation list
</div>

[<a href="/admin">Go back</a>]
<br>

<div style="text-align: center; margin-bottom: 1em">
    [<a href="/admin/staff/new">Create new staff member</a>]
</div>

<table border=1 cellspacing=0 cellpadding="5" class="dashboard-table">
    <thead>
    <tr bgcolor="6080f6">
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        <% staff.forEach((person, idx) => { %>
            <tr bgcolor="<%= (idx % 2) ? "d6d6f6" : "f6f6f6" %>">
                <td><a href="mailto:<%= person.email %>"><%= person.email %></a></td>
                <td><%= person.role %></td>
                <td>[<a href="/admin/staff/<%= person.id %>">Edit</a>]</td>
            </tr>
        <% }); %>
    </tbody>
</table>

<p style="text-align: center;">Total: <%= totalRecords %></p>

<div style="text-align: center; margin-top: 1em">
    <% if (previousPageNumber !== undefined) { %>[<a href="/admin/staff?page=<%= previousPageNumber %>" title="Previous">←</a>]<% } %>
    <% if (nextPageNumber !== undefined) { %>[<a href="/admin/staff?page=<%= nextPageNumber %>" title="Next">→</a>]<% } %>
</div>

[<a href="/admin">Go back</a>]

<%- include('fragments/admin-bar'); %>

<script src="/js/jquery-1.12.0.min.js"></script>
<script src="/js/admin-bar.js"></script>

<%- include('fragments/footer'); %>
<%- include('fragments/eof'); %>