<%- include('fragments/head'); %>

<div class="adminbar">
    <%- boardLinks %>
</div>
<hr>

<h1 class="site-title"><%= header %></h1>

<em class="slogan"><%= slogan %></em>

<div class="main-links">
    <a href="/faq">FAQ</a> | <a href="/rules">Rules</a>
</div>

<div class="center-paragraph">
    <%- description %>
</div>

<div class="adminbar">
    <%- boardLinks %>
</div>

<%- include('fragments/footer'); %>

<%- include('fragments/eof'); %>